/* css/style.css */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #222;
  font-family: 'ThePeakFont', Arial, sans-serif;
  color: #fff;
}

h2 {
  color: #ffec95ab;
  font-size: 24px;
  margin-bottom: 2px;
  text-align: center;
  top: 1px;
  left: 1px;
  margin: 4px 5px;
}

#container {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1; 
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: -1;  
}

/* UI 元素 */
#result, #interpretation, #explanationList, #explanationDetail, #transformedInterpretation, #transformedExplanationList, #transformedExplanationDetail {
  position: static; 
  background: rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  width: 450px;
  z-index: 1000;
}

#uiContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}

/* 左側解釋區 */
#explanationUI {
  flex: 0 0 550px;
  background: rgba(253, 198, 146, 0.1);
  border: 2px solid rgba(255, 207, 168, 0.3);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  overflow-y: auto;
  height: 82%;
  display: none;
}

#explanationUI::-webkit-scrollbar {
    width: 10px;
}

#explanationUI::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.3); 
  border-radius: 12px; 
}

#explanationUI::-webkit-scrollbar-thumb {
  background: rgba(209, 186, 110, 0.651);
  border-radius: 10px; 
  border: 2px solid rgba(30, 11, 0, 0.2);
  cursor: pointer; 
}

#explanationUI::-webkit-scrollbar-thumb:hover {
  background: rgba(180, 143, 75, 0.5); 
}

/* 右側結果區 */
#result {
  flex: 0 0 300px;
  background: rgba(253, 198, 146, 0.1);
  border: 2px solid rgba(255, 207, 168, 0.3);
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  font-family: 'ThePeakFont', Arial, sans-serif !important;
  font-size: 18px;
  max height: 82%;
  overflow-y: auto;
  align-self: flex-start;
}

#result::-webkit-scrollbar {
  width: 10px;
}

#result::-webkit-scrollbar-track {
background: rgba(0, 0, 0, 0.3); 
border-radius: 12px; 
}

#result::-webkit-scrollbar-thumb {
background: rgba(209, 186, 110, 0.651);
border-radius: 10px; 
border: 2px solid rgba(30, 11, 0, 0.2);
cursor: pointer; 
}

#result::-webkit-scrollbar-thumb:hover {
background: rgba(180, 143, 75, 0.5); 
}


#hexagramResult, #coinResults, #coinResults1, #transformedHexagram {
  font-family: 'ThePeakFont', Arial, sans-serif !important;
  background: rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 5px;
  overflow: visible;
  height: auto;
}

#coinResults1 {
  display: none;
  font-size: 28px;
  margin: 4px 0;
  text-align: center;
}

#coinResultsTransformed {
  display: none;
}

#coinResultsContainer {
  margin-bottom: 4px 19px;
}

#hexagramResult,
#coinResults,
#transformedHexagram {
  margin: 4px 5px;   
  padding: 4px;   
  font-size: 20px;
}

#interpretation, #transformedInterpretation {
  width: 93%;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  top: 20px;
  left: 10px;
  margin: 4px 0;
}

#explanationList, #transformedExplanationList {
  width: 93%;
  font-size: 24px;
  top: 20px;
  left: 10px;
  margin: 4px 0;
}

#transformedExplanationList, #transformedExplanationDetail {
  display: none;
}

#explanationDetail, #transformedExplanationDetail {
  width: 93%;
  font-size: 24px;
  top: 20px;
  left: 10px;
  display: none;
  margin: 4px 0;
}

#controls {
  position: absolute;
  bottom: 30px;
  left: 20px;
  z-index: 3000;
}

@font-face {
  font-family: 'ThePeakFont';
  src: url('ttf/ThePeakFont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

#controls button {
  font-family: 'ThePeakFont', Arial, sans-serif !important;
  padding: 10px 20px;
  font-size: 33px !important;
  font-weight: bold;
  margin-right: 40px;
  cursor: pointer;
  z-index: 1100;
  color: #111;
  font-size: 18px;
  text-align: center;
  border-radius: 6px;
  background-color: #ad9c77;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

#controls button:hover {
background-color: #ad9c77;
transform: translateY(-2px);
box-shadow: 0 8px 15px rgba(0, 0, 0, 0.8);
z-index: 5;
}

#controls button:active {
  transform: none !important; 
  box-shadow: 0 0 10px rgba(253, 255, 113, 0.596); 
  background-color: #857759;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out
}

#explanationUI button {
  font-family: 'ThePeakFont', Arial, sans-serif !important;
  color: #111;
  font-size: 24px;
  border-radius: 6px;
  padding: 8px 8px;
  background-color: #ad9c77;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

#explanationUI button:hover {
  background-color: #ad9c77;
  transform: translateY(-2px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.8);
}

#volume-slider {
  width: 90px;
  height: 6px;
  cursor: pointer;
}

#bgm-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: rgba(79, 101, 121, 0.3);
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  padding: 0; 
  margin: 0; 
  line-height: 18px;
  box-shadow: 0 4px 6px rgba(0, 6, 8, 0.7);
  transition: all 0.2s ease;
}

#bgm-button:hover {
  background-color: rgba(92, 126, 158, 0.3);
  box-shadow: 0 4px 6px rgba(0, 6, 8, 0.7);
}

#audio-control-container {
  position: absolute;
  bottom: 20px; 
  right: 20px; 
  z-index: 3000;
  display: flex;
  align-items: center;
  gap: 10px;
}

.transparent-btn {
  position: relative; 
  font-size: 18px! important;
  background: transparent;
  border-radius: 50%;
  box-shadow: 
    inset 0px 1px 3px rgba(255, 255, 255, 0.4), 
    inset 0px -1px 2px rgba(0, 0, 0, 0.4), 
    0px 4px 6px rgba(0, 0, 0, 0.2); 
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border: none;
  width: 40px;
  height: 40px;
  font-size: 1.5em;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.transparent-btn:last-child {
  margin-right: 0;
}

.transparent-btn:hover {
  transform: scale(1.1);
  box-shadow: 
    inset 0px 2px 4px rgba(255, 255, 255, 0.8), 
    inset 0px -3px 5px rgba(0, 0, 0, 0.4),
    0px 8px 10px rgba(0, 0, 0, 0.4);
}

.transparent-btn:active {
  transform: scale(0.95);
  box-shadow: 
    0px 2px 3px rgba(0, 0, 0, 0.4), 
    inset 0px 1px 3px rgba(0, 0, 0, 0.6); 
}